:root {
  /* Color */
  --color-black: #070707;
  --color-white: #fff;
  --color-blue: #004f99;
  --color-gray: #999;
  --color-light-gray: #eee;

  /* Space */
  --space-base: 8px;
  --space-lv1: var(--space-base);
  --space-lv2: calc(var(--space-base) * 2);
  --space-lv4: calc(var(--space-base) * 4);

  /* Font */
  --fontSize-subText: 12px;
  --fontSize-normal: 16px;
  --fontSize-h3: 18px;
  --fontSize-h2: 20px;
  --fontSize-h1: 24px;

  /* Radius */
  --radius-base: 4px;
  --radius-lv2: calc(var(--radius-base) * 2);

  /* Shadow */
  --shadow-normal: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

  /* Transition */
  --transition-normal: 0.3s;
  --transition-slow: 0.5s;

  /* FontWeight */
  --fontWeight-bold: 700;
}
